@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.content {
    display: flex;
    flex-grow: 1;
}

.form {
    width: 38%;
    margin-right: 2rem;
    box-sizing: border-box;
}

.opinion {
    width: 60%;
    border-radius: 1.5rem;
    background-image: url(../../../images/TEMP/temp-opinion-background.jpeg);
    background-size: cover;
    background-position: 0 40%;
}

@media (min-width: min-large) {
    .content {
        padding: 0 8rem;
    }
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .content {
        flex-direction: column;
        padding: 0 1.5rem;
    }
    .form {
        width: 100%;
        margin-right: 0;
    }
    .opinion {
        width: 100%;
        height: 37rem;
        margin: 6rem 0;
    }
}

@media (max-width: max-small) {
    .content {
        flex-direction: column;
        padding: 0;
    }
    .form {
        width: 100%;
        margin-right: 0;
    }
    .opinion {
        --side-margin: 1.25rem;
        width: calc(100% - 2 * var(--side-margin));
        height: 12.5rem;
        margin: 2rem var(--side-margin);
    }
}

