@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem;
    border-radius: 1.5rem;
    background-color: var(--COLOR3);
}

.title {
    z-index: 2;
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0;
}

.errorMessage {
    color: var(--RED);
    font-size: 0.8rem;
    height: 0.8rem;
}

.miscControls {
    display: flex;
    justify-content: space-between;
}
.miscControls > a {
    color: var(--BLACK);
    user-select: none;
}

.passwordReset {
    text-decoration: underline;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

@media (min-width: min-large) {
    .joinText {
        display: none;
    }
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .form {
        height: 30rem;
        padding: 1.5rem;
    }
    .title {
        font-size: 4rem;
        line-height: 4rem;
    }
    .buttons {
        flex-direction: row;
    }
    .buttons > * {
        width: 50%;
    }
    .joinText {
        display: none;
    }
}

@media (max-width: max-small) {
    .form {
        height: 30rem;
        padding: 1rem;
    }
    .title {
        font-size: 1.75rem;
        line-height: 1.75rem;
        text-align: center;
    }
    .joinButton {
        display: none;
    }
    .joinText {
        text-align: center;
    }
    .joinLink {
        color: var(--BLACK);
    }
}