@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;


.titledDivider {
    width: 100%;
    padding-bottom: 0.75vw;
    border-bottom: 1px solid var(--BLACK);
    font-size: 1vw;
}

@media (min-width: min-large) {
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .titledDivider {
        padding-bottom: 2vw;
        font-size: 3vw;
    }
}

@media (max-width: max-small) {
    .titledDivider {
        padding-bottom: 3vw;
        font-size: 5vw;
    }
}