.navigationBar {
    --side-margin: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 2 * var(--side-margin));
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 2rem var(--side-margin);
}

.leftGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.rightGroup {
    display: flex;
    justify-content: flex-end;
    width: 35%;
}

.links > * {
    margin-left: 2rem;
}

.joinButton {
    margin-right: 2.5rem;
}

.link {
    text-decoration: none;
    color: var(--BLACK);
    font-size: 1rem;
}