@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.leftGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.rightGroup {
    display: flex;
    justify-content: flex-end;
    width: 35%;
}


@media (min-width: min-large) {
    .navigationBar {
        --side-margin: 8.5vw;
        width: calc(100% - 2 * var(--side-margin));
        margin: 2rem var(--side-margin);
    }
    .links {
        display: flex;
        align-items: center;
        gap: 2vw;
    }
    .menuButton {
        display: none;
    }
    .joinButton {
        margin-right: 2.5vw;
    }
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .navigationBar {
        --side-margin: 1.5rem;
        width: calc(100% - 2 * var(--side-margin));
        margin: 1.5rem var(--side-margin);
    }
    .leftGroup {
        width: auto;
    }
    .rightGroup {
        width: auto;
    }
    .joinButton {
        margin-right: 1.5rem;
    }
    .links {
        display: none;
    }
    .loginButton {
        display: none;
    }
}

@media (max-width: max-small) {
    .navigationBar {
        --side-margin: 1.5rem;
        width: calc(100% - 2 * var(--side-margin));
        margin: 1.5rem var(--side-margin);
    }
    .links {
        display: none;
    }
    .joinButton {
        display: none;
    }
    .loginButton {
        display: none;
    }
    .menuButton {
        width: 10vw;
        height: 10vw;
        padding: 0;
    }
}

.link {
    text-decoration: none;
    color: var(--BLACK);
    font-size: 1rem;
}