@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.closeControl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.closeControlButton {
    height: 3vw;
    width: 3vw;
}

.closeControlText {
    margin-left: 1vw;
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .closeControlButton {
        height: 8.5vw;
        width: 8.5vw;
        border-radius: 9vw;
    }
}

@media (max-width: max-small) {
    .closeControl {
        justify-content: center;
    }
    .closeControlButton {
        height: 10vw;
        width: 10vw;
        border-radius: 10vw;
    }
}