@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.closeControl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.closeControlButton {
    height: 3rem;
    width: 3rem;
}

.closeControlText {
    margin-left: 1rem;
}

@media (min-width: min-medium) and (max-width: max-medium) {
}

@media (max-width: max-small) {
    .closeControl {
        justify-content: center;
    }
    .closeControlButton {
        height: 2rem;
        width: 2rem;
    }
}