@value breakpoints: "../../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.page {
    height: 100%;
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas: 
        "header"
        "stepper"
        "content"
        "navigation";
    row-gap: 5vw;
    margin: 3.5vw 6vw 9vw;
}

.header {
    grid-area: header;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}
.logo {
    width: 4vw;
}
.title {
    margin: 0;
    font-size: 1vw;
    font-weight: 400;
    text-align: center;
}
.closeControls {
    justify-self: flex-end;
}

.content {
    grid-area: content;
}

.stepper {
    grid-area: stepper;
}

.navigation {
    grid-area: navigation;
    display: flex;
    justify-content: space-between;
}

@media (min-width: min-large) {
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .page {
        margin: 6vw;
    }
    .logo {
        width: 10vw;
    }
    .title {
        text-align: center;
        font-size: 3vw;
    }
    .backButton, .nextButton {
        width: 23vw;
    } 
}

@media (max-width: max-small) {
    .page {
        margin: 11vw 6.5vw;
    }
    .logo {
        width: 13vw;
    }
    .title {
        text-align: center;
        font-size: 4vw;
    }
    .stepper {
        display: flex;
        justify-content: center;
    }
    .backButton, .nextButton {
        width: 40vw;
    }
}