@value breakpoints: "../../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.methodologyStep {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content {
    display: flex;
    gap: 1.75vw;
}

@media (min-width: min-large) {
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .methodologyStep {
        gap: 10vw;
    }
    .content {
        gap: 5vw;
        flex-wrap: wrap;
    }
}

@media (max-width: max-small) {
    .methodologyStep {
        gap: 10vw;
    }
    .content {
        flex-direction: column;
        gap: 6vw;
    }
}