@value breakpoints: "../../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.respondentsStep {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}


@media (min-width: min-large) {
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .respondentsStep {
        gap: 10vw;
    }
    .filters {
        gap: 10vw;
    }
    .text {
        font-size: 3.5vw;
    }
}

@media (max-width: max-small) {
    .respondentsStep {
        gap: 10vw;
    }
    .filters {
        gap: 10vw;
    }
    .text {
        font-size: 4vw;
    }
}