.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-bottom: 7.5rem;
}

.header {
    text-align: center;
}

.title {
    margin: 0;
    font-size: 6rem;
    font-weight: 400;
}

.subtitle {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 400;
}

.content {
    display: flex;
}

.left {

}

.middle {
    position: relative;
    width: 32rem;
    height: 25rem;    
}
.middlePhoto {
    position: absolute;
    width: 100%;
    height: 100%;
}

.right {

}

.icons {

}

.text {
    font-size: 2.5rem;
    font-weight: 400;
}