.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem;
    border-radius: 1.5rem;
    background-color: var(--COLOR3);
}

.title {
    z-index: 2;
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0;
}

.decorators {
    position: absolute;
    z-index: 1;
    top: 10%;
    right: 25%;
}

.errorMessage {
    color: var(--RED);
    font-size: 0.8rem;
    height: 0.8rem;
}

.miscControls {
    display: flex;
    justify-content: space-between;
}
.miscControls > a {
    color: var(--BLACK);
    user-select: none;
}

.passwordReset {
    text-decoration: underline;
    cursor: pointer;
}

.joinButton {
    height: 3rem;
    padding: 0 2rem;
}