@value breakpoints: "../../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.section {
    display: grid;
    height: 27.5vw;
    grid-template-columns: 55% 40%;
    grid-template-rows: 45% 5% 5% 45%;
    grid-template-areas:
        "title maximizeBox"
        "title ."
        "title ."
        "buttonsRow photoBox";
    column-gap: 5%;
    margin-top: 1.5rem;
    margin-bottom: 7rem;
}

.interviewDecorator {
    height: 4vw;
}
.title {
    grid-area: title;
    margin: 0;
    font-size: 4vw;
    font-weight: 400;
    line-height: 6vw;
}
.labelsRow {
    display: flex;
}
.buttonsRow {
    grid-area: buttonsRow;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    margin-top: 2rem;
}
.joinButton {
    height: 4vw;
}

.maximizeYourTimeBox {
    grid-area: maximizeBox;
    border-radius: 1.5rem;
    padding: 1.25rem 2rem;
    background-color: var(--COLOR3);
}

.timeBoxIcons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5vw;
}
.clockIcon {
    width: 5vw;
    margin-right: 2.5vw;
}
.decorators {
    display: flex;
}
.decoratorImage {
    width: 5vw;
}

.timeBoxText {
    margin: 0;
    text-align: center;
    font-size: 2vw;
    font-weight: 400;
}

.photoBox {
    grid-area: photoBox;
    width: 32.5vw;
    height: 13vw;
    justify-self: end;
    border-radius: 1.5rem;
    background-position: center;
    background-size: cover;
}


@media (min-width: min-medium) and (max-width: max-medium) {
    .section {
        display: grid;
        height: 55vh;
        grid-template-columns: 100%;
        grid-template-rows: 50% 25% 25%;
        grid-template-areas:
            "title"
            "maximizeBox"
            "buttonsRow";
        margin-top: 3.5rem;
        margin-bottom: 6rem;
    }
    .title {
        font-size: 8vh;
        line-height: 8vh;
    }
    .joinButton {
        height: 6vh;
    }
    .interviewDecorator {
        display: none;
    }
    .maximizeYourTimeBox {
        display: flex;
        justify-content: space-around;
        padding: 3.5vw 5vw;
    }
    .clockIcon {
        width: auto;
        margin-right: 2.5vw;
    }
    .decoratorImage {
        width: auto;
    }
    .timeBoxIcons {
        margin: 0;
    }
    .timeBoxText {
        align-self: center;
        font-size: 2.5vh;
    }
    .photoBox {
        display: none;
    }
}

@media (max-width: max-small) {
    .section {
        display: grid;
        height: 45vh;
        grid-template-columns: 100%;
        grid-template-rows: 40% 30% 30%;
        grid-template-areas:
            "title"
            "maximizeBox"
            "buttonsRow";
        margin: 2rem 0;
    }
    .title {
        font-size: 4vh;
        line-height: 4vh;
    }
    .joinButton {
        width: 100%;
        height: 2.5rem;
        padding: 0.75rem;
        border-radius: 6vw;
    }
    .interviewDecorator {
        display: none;
    }
    .maximizeYourTimeBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .decoratorImage {
        width: 9vw;
    }
    .clockIcon {
        width: 9vw;
        margin-right: 12vw;
    }
    .timeBoxIcons {
        justify-content: center;
        margin: 0;
    }
    .timeBoxText {
        font-size: 4vw;
    }
    .photoBox {
        display: none;
    }
}