@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.contactPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    line-height: 2.5vw;
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .contactPage {
        font-size: 4vw;
        line-height: 6vw;
    }
}

@media (max-width: max-small) {
    .contactPage {
        font-size: 4.5vw;
        line-height: 8vw;
    }
}