@value breakpoints: "../../../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.content {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "methodologyTile createRoomButton"
    "bulletinBoardList bulletinBoardList";
    gap: 5vw;
}

.methodologyTile {
    grid-area: methodologyTile;
    width: min-content;
    align-self: center;
}

.createRoomButton {
    width: 12.5vw;
    height: 2.5vw;
    grid-area: createRoomButton;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: end;
    gap: 0.75vw;
    padding: 0.6vw;
    font-size: 1vw;
    border: 1px solid var(--BLACK);
    border-radius: 3vw;
    background-color: transparent;
    cursor: pointer;

}
.createRoomButtonIcon {
    width: 0.75vw;
    height: 0.75vw;
}

.boardsList {
    grid-area: bulletinBoardList;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.bulletinBoardTile {
}

@media (min-width: min-large) {
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .content {
        gap: 10vw;
    }

    .createRoomButton {
        width: 35vw;
        height: 7vw;
        justify-self: end;
        gap: 2vw;
        padding: 2vw;
        font-size: 3vw;
        border-radius: 9vw;
    
    }
    .createRoomButtonIcon {
        width: 2vw;
        height: 2vw;
    }
}

@media (max-width: max-small) {
    .content {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "methodologyTile"
        "createRoomButton"
        "bulletinBoardTile";
        gap: 10vw;
    }

    .createRoomButton {
        width: 100%;
        height: 12vw;
        gap: 3vw;
        padding: 4vw;
        font-size: 5vw;
        border-radius: 15vw;
    
    }
    .createRoomButtonIcon {
        width: 4vw;
        height: 4vw;
    } 
}