@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.label {
    cursor: pointer;
    user-select: none;
    font-size: 1vw;
}

.checkbox {
    height: 1.25vw;
    width: 1.25vw;
    margin: 0;
    margin-right: 0.6vw;
    accent-color: var(--COLOR1);
    cursor: pointer;
}

.redText {
    color: var(--RED);
}

.redOutline {
    outline: 1px solid var(--RED);
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .label {
        font-size: 3vw;
    }
    .checkbox {
        height: 3vw;
        width: 3vw;
        margin-right: 2vw;
        flex-shrink: 0;
    }
}

@media (max-width: max-small) {
    .label {
        font-size: 5vw;
    }
    .checkbox {
        height: 5vw;
        width: 5vw;
        margin-right: 3vw;
        flex-shrink: 0;
    }
}