@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.inputWrapper {
    position: relative;
    padding-bottom: 0.6rem;
    border-bottom: 0.075rem solid var(--BLACK);
    cursor: text;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
}
.input::placeholder {
    color: var(--BLACK);
}
.centerText {
    text-align: center;
}
.centerText::placeholder {
    text-align: center;
}

.passwordToggle {
    position: absolute;
    right: 0;
    top: 0.25rem;
    width: 1rem;
    cursor: pointer;
}

.error {
    border-color: var(--RED);
}
.errorMessage {
    height: 0.8rem;
    margin: 0;
    margin-top: 0.6rem;
    color: var(--RED);
    font-size: 0.8rem;
}

@media (min-width: min-large) {

}

@media (min-width: min-medium) and (max-width: max-medium) {

}

@media (max-width: max-small) {
    .input {
        text-align: center;
    }
}