@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.open {
    visibility: visible;
}

.closed {
    visibility: hidden;
}

.closeControl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.closeControlButton {
    height: 3rem;
    width: 3rem;
}

.closeControlText {
    margin-left: 1rem;
}

.title {
    font-size: 3vw;
    font-weight: 400;
    margin-top: 4vh;
    margin-bottom: 7vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    margin-top: 5vh;
}

.logo {
    width: 3rem;
}

.languageButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.languageButton {
    margin-bottom: 3vh;
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .logo {
        width: 10vw;
    }
    .title {
        font-size: 6vw;
    }
    .content {
        width: auto;
        height: auto;
    }
    .languageButtons {
        width: 80%;
        gap: 3rem;
    }
    .languageButton {
        margin-bottom: 0;
    }
}

@media (max-width: max-small) {
    .logo {
        width: 15vw;
    }
    .title {
        font-size: 1.75rem;
        line-height: 1.75rem;
        margin-bottom: 3.5rem;
    }
    .content {
        width: auto;
        height: auto;
    }
    .languageButtons {
        width: 85%;
        gap: 1.75rem;
    }
    .languageButton {
        margin-bottom: 0;
    }
}