.closeControl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.closeControlButton {
    height: 3rem;
    width: 3rem;
}

.closeControlText {
    margin-left: 1rem;
}