@value breakpoints: "../../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.topic {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    padding: 1.5vw;
    border-radius: 1.5vw;
    background-color: var(--WHITE);
}

.text {
    font-size: 1vw;
    line-height: 1vw;
}
.subscript {
    font-size: 0.75vw;
    line-height: 0.75vw;
}

.header {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 0.5vw;
    grid-template-columns: min-content auto;
    column-gap: 1vw;
    grid-template-areas: 
    "avatar authorName"
    "avatar postDate";
}
.avatar {
    grid-area: avatar;
}
.authorName {
    grid-area: authorName;
    align-self: end;
}
.postDate {
    grid-area: postDate;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
.attachment {
    width: 100%;
    border-radius: 1.5vw;
}

.nonMobileComments {
    display: flex;
    flex-direction: column;
    gap: 0.75vw;
}
.commentsControls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.25vw;
    font-size: 0.75vw;
    line-height: 0.75vw;
}
.smallAvatar {
    width: 1vw;
    height: 1vw;
}
.smallAvatar > div > img {
    width: 0.5vw;
    height: 0.5vw;
}
.addCommentBox {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75vw;
    padding: 1.25vw;
    border-radius: 1.5vw;
    background-color: var(--COLOR3);
}
.addCommentInput {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--COLOR3);
}
.addCommentIcon {
    cursor: pointer;
}

@media (min-width: min-large) {
    .mobileComments {
        display: none;
    }
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .topic {
        gap: 5vw;
        padding: 4.5vw 5vw;
        border-radius: 4.5vw;
    }
    
    .text {
        font-size: 2.5vw;
        line-height: 2.5vw;
    }
    .subscript {
        font-size: 2vw;
        line-height: 2vw;
    }
    
    .header {
        row-gap: 1.5vw;
        column-gap: 3vw;
    }
    
    .content {
        gap: 5vw;
    }
    .attachment {
        width: 100%;
        border-radius: 4.5vw;
    }
    
    .nonMobileComments {
        gap: 2vw;
    }
    .commentsControls {
        gap: 3.5vw;
        font-size: 2vw;
        line-height: 2vw;
    }
    .smallAvatar {
        width: 2.5vw;
        height: 2.5vw;
    }
    .smallAvatar > div > img {
        width: 1.25vw;
        height: 1.25vw;
    }
    .addCommentBox {
        gap: 2vw;
        padding: 3.5vw;
        border-radius: 4vw;
    }
    .addCommentInput {
        font-size: 2.5vw;
        line-height: 2.5vw;
    }
    .addCommentIcon {
        width: 3vw;
        height: 3vw;
    }

    .mobileComments {
        display: none;
    }
}

@media (max-width: max-small) {
    .topic {
        gap: 7.5vw;
        padding: 7.5vw 3vw;
        border-radius: 8vw;
    }
    
    .text {
        font-size: 4vw;
        line-height: 4vw;
    }
    .subscript {
        font-size: 3vw;
        line-height: 3vw;
    }
    
    .header {
        row-gap: 3vw;
        column-gap: 6vw;
    }
    
    .content {
        gap: 7.5vw;
    }
    .attachment {
        width: 100%;
        border-radius: 7.5vw;
    }
    
    .nonMobileComments {
        display: none;
    }
    .smallAvatar {
        width: 5vw;
        height: 5vw;
    }
    .smallAvatar > div > img {
        width: 2.5vw;
        height: 2.5vw;
    }
    .addCommentBox {
        position: fixed;
        bottom: 12vw;
        width: 85vw;
        gap: 2vw;
        padding: 7.5vw;
        border-radius: 15vw;
    }
    .addCommentInput {
        font-size: 4vw;
        line-height: 4vw;
    }
    .addCommentIcon {
        width: 4.5vw;
        height: 4.5vw;
    }

    .commentsWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6vw;
        padding: 5vw 0 10vw;
    }
    .mobileComments {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10vw;
    }
    .addCommentButton {
        height: 10vw;
        font-size: 4vw;
        line-height: 4vw;
    }
}