@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3.5rem 6rem 8rem;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.loginControls {
    width: 100%;
}
.loginControls > p {
    margin: 0;
}
.loginControls > a {
    color: var(--BLACK);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 4rem;
}
.title {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
}
.content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.horizontalContent {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiles {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile {
    margin: 0 1.5rem;
}
.tile.smallTile {
    width: 20%;
}

.inputs {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}
.input {
    width: 30%;
}
.checkbox {
    width: 100%;
    text-align: center;
}
.newsletter {
    font-size: 0.5vw;
}

.recorder {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    padding-bottom: 3rem;
}
.recorderText {
    text-align: center;
}
.cameraTile {
    height: 60%;
}

.navigation {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 10% auto 40% auto 10% 10%;
    grid-template-rows: auto;
    grid-template-areas: "backButton . . stepper . skipButton nextButton";
    gap: 1%;
}
.backButton {
    grid-area: backButton;
}
.stepper {
    grid-area: stepper;
}
.skipButton {
    grid-area: skipButton;
}
.nextButton {
    grid-area: nextButton;
}

.hidden {
    visibility: hidden;
}

.noDisplay {
    display: none !important;
}

.finalMessageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
}

.mobileLoginControls {
    display: none;
}

@media (min-width: min-large) {
    .nonDesktop {
        display: none !important;
    }
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .page {
        margin: 2rem;
    }
    .title {
        text-align: center;
    }
    .content {
        flex-direction: column;
        gap: 2.5rem;
    }
    .horizontalContent {
        flex-grow: unset;
        gap: 5%;
    }
    .tile {
        margin: 0;
    }
    .horizontalContent > .tile {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 1.25rem;
        padding: 0.75rem 1.5rem;
    }
    .tile.smallTile {
        width: 40%;
    }
    .mobileLoginControls {
        display: none;
    }
    .desktop {
        display: none !important;
    }
    .inputs {
        gap: 2vw;
    }
    .newsletter {
        font-size: 1.5vw;
    }
    .recorder {
        width: 80%;
    }
    .navigation {
        width: 80%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: auto auto;
        grid-template-areas:
            "stepper stepper stepper"
            "backButton skipButton nextButton";
        column-gap: 5%;
        row-gap: 4rem;
    }
}

@media (max-width: max-small) {
    .page {
        margin: 1.25rem;
    }
    .loginControls {
        display: none;
    }
    .logo {
        width: 3rem;
    }
    .title {
        font-size: 1.75rem;
        text-align: center;
    }
    .content {
        flex-direction: column;
        flex-grow: unset;
        gap: 2.5rem;
    }
    .horizontalContent {
        flex-grow: unset;
        gap: 5%;
    }
    .tile {
        margin: 0;
    }
    .horizontalContent > .tile {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 1.25rem;
        padding: 0.75rem 1.5rem;
    }
    .tile.smallTile {
        width: auto;
    }
    .inputs {
        width: 100%;
        height: auto;
        flex-direction: column;
        margin: 2rem 0;
        gap: 2vw;
    }
    .input {
        width: 100%;
    }
    .newsletter {
        font-size: 3vw;
    }
    .recorderText {
        margin: 0;
    }
    .recorder {
        width: 100%;
        height: 30vh;
        padding: 0;
    }
    .mobileLoginControls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobileLoginControls > * {
        margin: 0;
        color: var(--BLACK);
    }
    .desktop {
        display: none !important;
    }
    .backButton {
        height: 2.5rem;
    }
    .nextButton {
        height: 2.5rem;
    }
    .skipButton {
        height: 2.5rem;
    }
    .finalButton {
        height: 2.5rem;
    }
    .navigation {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "stepper stepper stepper"
            "skipButton skipButton skipButton"
            "backButton . nextButton";
        row-gap: 1rem;
    }
}