.content {
    display: flex;
    flex-grow: 1;
    padding: 0 8rem;
}

.form {
    width: 38%;
    margin-right: 2rem;
    box-sizing: border-box;
}

.opinion {
    width: 60%;
    border-radius: 1.5rem;
    background-image: url(../../images/TEMP/temp-opinion-background.jpeg);
    background-size: cover;
    background-position: 0 40%;
}