@value breakpoints: "../../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.tile {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    padding: 1.5vw 1vw;
    border-radius: 1.5vw;
    background-color: var(--WHITE);
}

.tileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5vw;
    border-bottom: 1px dashed var(--BLACK);
}

.pill {
    width: min-content;
    white-space: nowrap;
    color: var(--COLOR5);
    background-color: var(--GREEN3);
}

.title, .datePart {
    font-size: 1.2vw;
    line-height: 1.2vw;
}

.date {
    display: flex;
    gap: 1.5vw;
}

.rooms {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
.roomName {
    text-decoration: underline;
    cursor: pointer;
}
.roomEntry {
    display: flex;
    gap: 2.5vw;
}

.createRoomButton {
    height: auto;
    padding: 0.75vw 1.5vw;
    background-color: var(--WHITE);
    border: 1px solid var(--COLOR2);
}

@media (min-width: min-large) {
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .tile {
        width: 55vw;
        gap: 4.5vw;
        padding: 4.5vw 3vw;
        border-radius: 4.5vw;
    }
    
    .title, .datePart {
        font-size: 3.5vw;
        line-height: 3.5vw;
    }
    
    .date {
        gap: 4.5vw;
    }
}

@media (max-width: max-small) {
    .tile {
        width: 70vw;
        gap: 7.5vw;
        padding: 7.5vw 5vw;
        border-radius: 8vw;
    }
    
    .title, .datePart {
        font-size: 6vw;
        line-height: 6vw;
    }
    
    .date {
        gap: 7.5vw;
    }
}