@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.homePage {
    padding: 0 8.5vw 5rem;
}

@media (min-width: min-large) {

}

@media (min-width: min-medium) and (max-width: max-medium) {
    .homePage {
        padding: 0 5vw 5rem;
    }
}

@media (max-width: max-small) {
    .homePage {
        padding: 0 6vw 2rem;
    }
}