@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.pinkBackground {
    height: 100%;
    background-color: var(--COLOR3);
}

.paddingWrapper {
    box-sizing: border-box;
    padding: 0 9vw 5vw;
}

.blueBackground {
    height: 100%;
    background-color: var(--BLUE1);
}

.app {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "header header"
        "navigation main";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-areas: "logo date buttons";
    align-items: center;
    padding: 2vw 0;
}
.logo {
    grid-area: logo;
}
.date {
    grid-area: date;
    width: min-content;
    display: flex;
    align-items: center;
    padding: 1vw;
    border-radius: 6vw;
    font-size: 1vw;
    background-color: var(--WHITE);
    text-wrap: nowrap;
}
.buttons {
    grid-area: buttons;
    display: flex;
    justify-self: end;
    gap: 1.5vw;
}
.notificationsButton {
    width: 3.5vw;
    height: 3.5vw;
    padding: 0;
    background: transparent;
}
.dropdown {
    position: relative;
}
.userButton {
    display: flex;
    align-items: center;
    gap: 1vw;
    box-sizing: border-box;
    padding: 0.75vw 1.25vw;
    border: 1px solid var(--BLACK);
    border-radius: 3vw;
    font-size: 0.75vw;
    background-color: transparent;
    cursor: pointer;
}
.avatar {
    width: 2vw;
    height: 2vw;
    border-radius: 2vw;
}

.navigation {
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    z-index: 1;
}
.createProjectButton {
    width: 15vw;
}

.main {
    grid-area: main;
}

@media (min-width: min-large) {
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .paddingWrapper {
        height: auto;
        padding: 0 5vw 40vw;
    }
    .app {
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content auto;
        grid-template-areas:
            "header"
            "main";
    }
    .header {
        grid-template-columns: 65% 35%;
        grid-template-rows: auto auto;
        grid-template-areas:
        "logo buttons"
        "date .";
        row-gap: 6vw;
        padding: 6vw 0;
    }
    .date {
        padding: 3.5vw;
        font-size: 2vw;
    }
    .notificationsButton {
        height: 9.5vw;
        width: 9.5vw;
        border-radius: 10vw;
    }
    .userButton {
        gap: 0;
        padding: 2vw;
        border-radius: 8vw;
    }
    .userName {
        display: none;
    }
    .avatar {
        width: 5.5vw;
        height: 5.5vw;
        border-radius: 5.5vw;
    }
    .navigation {
        grid-area: navigation;
        position: fixed;
        bottom: 5vw;
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        gap: 5vw;
    }
    .createProjectButton {
        width: 100%;
    }
}

@media (max-width: max-small) {
    .paddingWrapper {
        height: auto;
        padding: 0 5vw 40vw;
    }
    .app {
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content auto;
        grid-template-areas:
            "header"
            "main";
    }
    .header {
        grid-template-columns: 65% 35%;
        grid-template-rows: auto auto;
        grid-template-areas:
        "logo buttons"
        "date .";
        row-gap: 10vw;
        padding: 10vw 0;
    }
    .date {
        padding: 4vw;
        font-size: 3.5vw;
    }
    .notificationsButton {
        height: 11vw;
        width: 11vw;
        border-radius: 10vw;
    }
    .userButton {
        gap: 0;
        padding: 2vw;
        border-radius: 8vw;
    }
    .userName {
        display: none;
    }
    .avatar {
        width: 6.5vw;
        height: 6.5vw;
        border-radius: 6.5vw;
    }
    .navigation {
        grid-area: navigation;
        position: fixed;
        bottom: 5vw;
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        gap: 5vw;
    }
    .createProjectButton {
        width: 100%;
    }
}