@value breakpoints: "../../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.section {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 25% 25% 20% 30%;
    grid-template-areas:
        "subtitle diagram"
        "title diagram"
        "label diagram"
        "button diagram";
    column-gap: 10%;
    align-items: end;
    margin-bottom: 10rem;
}

.title {
    grid-area: title;
    font-size: 5vw;
    font-weight: 400;
    margin: 0;
}

.subtitle {
    grid-area: subtitle;
    font-size: 3vw;
    font-weight: 400;
    margin: 0;
}

.label {
    grid-area: label;
    width: 12vw;
    font-size: 1.25vw;
}

.button {
    grid-area: button;
    height: 5vw;
    border-radius: 4.5rem;
    width: 20vw;
    font-size: 1.25vw;
}

.diagram {
    grid-area: diagram;
    width: 30vw;
    justify-self: end;
}

@media (min-width: min-large) {
    .diagramSmall {
        display: none;
    }
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .diagramSmall {
        grid-area: diagramSmall;
        width: 100%;
    }
    .section {
        display: grid;
        height: 50vh;
        grid-template-columns: 45% 45%;
        grid-template-rows: 4% 15% 13% 13% 13% 40%;
        grid-template-areas:
            "subtitle subtitle"
            "title title"
            ". ."
            "button label"
            ". ."
            "diagramSmall diagramSmall";
        column-gap: 10%;
        align-items: center;
        margin-bottom: 6rem;
    }
    .title {
        font-size: 8vw;
    }
    .button {
        width: 100%;
        height: 100%;
        font-size: 2vw;
    }
    .label {
        width: 100%;
        height: 100%;
        font-size: 3vw;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .diagram {
        display: none;
    }
}

@media (max-width: max-small) {
    .diagramSmall {
        grid-area: diagramSmall;
        width: 100%;
    }
    .section {
        display: grid;
        height: 50vh;
        grid-template-columns: 100%;
        grid-template-rows: 6% 10% 10% 10% 10% 13% 13% 28%;
        grid-template-areas:
            "subtitle"
            "title"
            "."
            "label"
            "."
            "button"
            "."
            "diagramSmall";
        column-gap: 10%;
        align-items: center;
        margin-bottom: 2rem;
    }
    .title {
        font-size: 8vw;
    }
    .button {
        width: 100%;
        height: 100%;
        font-size: 4vw;
    }
    .label {
        width: 50%;
        height: 100%;
        font-size: 4vw;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .diagram {
        display: none;
    }
}