.section {
    display: flex;
    gap: 5rem;
    margin-bottom: 10rem;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.title {
    font-size: 6rem;
    font-weight: 400;
    margin: 0;
}

.subtitle {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0;
}

.button {
    height: 6rem;
    border-radius: 4.5rem;
    width: 25rem;
}