.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 2rem 4rem;
}

.leftGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.rightGroup {
    display: flex;
    justify-content: flex-end;
    width: 35%;
}

.links > * {
    margin-left: 2rem;
}

.joinButton {
    margin-right: 2.5rem;
}

.link {
    text-decoration: none;
    color: var(--BLACK);
    font-size: 1rem;
}