@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.video {
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-radius: 1.5rem;
    color: var(--WHITE);
    background-color: var(--BLACK);
}

.hidden {
    display: none;
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .video {
        width: 100%;
        height: 40%;
        margin-top: 30%;
    }
}

@media (max-width: max-small) {
    .video {
        width: 100%;
        height: 40%;
        margin-top: 30%;
    }
}