@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--WHITE);
    color: var(--BLACK);
    cursor: pointer;
    height: 4rem;
    padding: 1.5rem 1.5rem;
    border: 0.075rem solid black;
    border-radius: 2rem;
    font-size: 1rem;
}

@media (max-width: max-small) {
    .button {
        height: 2rem;
        width: 2rem;
        padding: 0;
    }
}