@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.button {
    height: 4vw;
    width: 4vw;
    aspect-ratio: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--WHITE);
    color: var(--BLACK);
    cursor: pointer;
    border: 0.075rem solid black;
    border-radius: 2vw;
    font-size: 1rem;
}
.icon {
    width: 1vw;
    height: 1vw;
}
.disabled {
    border-color: var(--GRAY2) !important;
    background-color: var(--GRAY) !important;
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .button {
        height: 10vw;
        width: 10vw;
        border-radius: 5vw;
    }
    .icon {
        width: 3vw;
        height: 3vw;
    }
}

@media (max-width: max-small) {
    .button {
        height: 10vw;
        width: 10vw;
        border-radius: 5vw;
    }
    .icon {
        width: 4vw;
        height: 4vw;
    }
}