@value breakpoints: "../../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-bottom: 7.5rem;
}

.header {
    text-align: center;
}

.titleRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
.title {
    margin: 0;
    font-size: 6rem;
    font-weight: 400;
}
.subtitle {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 400;
    text-wrap: nowrap;
}

.content {
    width: 100%;
    height: 23rem;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.icons {
    display: flex;
    gap: 1.5rem;
}
.numericalLabel {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 2.25rem;
    font-size: 2.25rem;
    line-height: 2.25rem;
}
.rightText {
    text-align: end;
}
.sectionTitle {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0;
}
.sectionText {
    font-size: 1.2rem;
    margin: 0;
}
.photo {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 1.5rem;
    background-image: url(../../../../images/steps-section-photo.jpg);
    background-size: cover;
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .section {
        align-items: flex-start;
    }
    .title, .subtitle {
        font-size: 1.75rem;
    }
    .titleRow {
        justify-content: flex-start;
    }
    .joinButton {
        display: none;
    }
    .photo {
        display: none;
    }
    .arrow {
        display: none;
    }
    .content {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
    .middle {
        align-items: flex-start;
        text-align: left;
    }
    .right {
        align-items: flex-start;
    }
}

@media (max-width: max-small) {
    .section {
        align-items: flex-start;
    }
    .title, .subtitle {
        font-size: 1.75rem;
    }
    .titleRow {
        justify-content: flex-start;
    }
    .joinButton {
        display: none;
    }
    .photo {
        display: none;
    }
    .arrow {
        display: none;
    }
    .sectionTitle {
        font-size: 1.75rem;
    }
    .sectionText {
        font-size: 1rem;
    }
    .content {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
    .middle {
        align-items: flex-start;
        text-align: left;
    }
    .right {
        align-items: flex-start;
    }
}