.submitButton {
    background-color: var(--COLOR2);
    color: var(--COLOR1);
    cursor: pointer;
    height: 3rem;
    padding: 0 2rem;
    border: 0;
    border-radius: 1.5rem;
    font-size: 1rem;
}