.dialog {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 4rem 6rem;
    background-color: var(--WHITE);
}

.open {
    visibility: visible;
}

.closed {
    visibility: hidden;
}

.closeControl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.closeControlButton {
    height: 3rem;
    width: 3rem;
}

.closeControlText {
    margin-left: 1rem;
}
