.dialog {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 4rem 6rem;
    background-color: var(--WHITE);
}

.open {
    visibility: visible;
}

.closed {
    visibility: hidden;
}
