@value breakpoints: "../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.dialog {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 4rem 6rem;
    background-color: var(--WHITE);
}

.open {
    visibility: visible;
}

.closed {
    visibility: hidden;
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .dialog {
        padding: 2rem;
    }
}

@media (max-width: max-small) {
    .dialog {
        display: flex;
        align-items: center;
        padding: 1.25rem;
    }
}