@value breakpoints: "../../../consts/breakpoints.css";
@value min-large, max-medium, min-medium, max-small from breakpoints;

.title {
    font-size: 3vw;
    font-weight: 400;
}

.tiles {
    display: flex;
    gap: 5%;
    width: 100%;
    margin: 3.5rem 0;
}
.tile {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1.5rem;
    width: 30%;
    border-radius: 1.5rem;
    padding: 4vh 1.5vw;
    background-color: gray;
}
.leftColumn {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.tileTitle {
    color:  var(--WHITE);
    margin: 0;
    font-size: 2vw;
    font-weight: 400;
}
.tileDate {
    margin: 0;
    font-size: 0.85vw;
    color: var(--WHITE);
}
.button {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 4vw;
    border: none;
    background-color: var(--COLOR3);
}

.blogLink {
    color: var(--BLACK);
}

@media (min-width: min-large) {
}

@media (min-width: min-medium) and (max-width: max-medium) {
    .title {
        font-size: 7vw;
    }
    .tiles {
        display: grid;
        grid-template-columns: auto auto auto;
        overflow-x: auto;
    }
    .tile {
        width: 60vw;
        aspect-ratio: 5/6;
        padding: 3vw;
    }
    .tileTitle {
        font-size: 4.5vw;
    }
    .tileDate {
        font-size: 2vw;
    }
    .button {
        width: 10vw;
        height: 10vw;
        border-radius: 5vw;
    }
}

@media (max-width: max-small) {
    .title {
        font-size: 12vw;
    }
    .tiles {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 10vw;
        overflow-x: auto;
    }
    .tile {
        width: 60vw;
        flex-direction: column;
        align-items: flex-start;
        aspect-ratio: 4/3;
        padding: 6vw;
    }
    .tileTitle {
        font-size: 5vw;
    }
    .tileDate {
        font-size: 4vw;
    }
    .button {
        width: 15vw;
        height: 15vw;
        border-radius: 15vw;
        padding: 0;
    }
}