:root {
    --BLACK: black;
    --WHITE: white;
    --RED: #FF0000;
    --GRAY: lightgray;
    --GRAY2: gray;
    --COLOR1: #6B26A1;
    --COLOR2: #F2E1FF;
    --COLOR3: #FBF3FF;
    --COLOR3-OPAQUE: rgba(251, 243, 255, 0.9);
    --COLOR4: #DAC5EA;
    --COLOR5: #9029E2;
    --COLOR6: #E9D0FC;
    --COLOR7: #F9ECFF;
    --COLOR8: #F8EBFF;
    --GREEN1: #DBF8DA;
    --GREEN2: #26B221;
    --GREEN3: #EBFFE8;
    --YELLOW1: #F8EEDA;
    --YELLOW2: #B27821;
    --RED1: #F8DADA;
    --RED2: #B22121;
    --BLUE1: #F3F5FF;
}