:root {
    --BLACK: black;
    --WHITE: white;
    --RED: #FF0000;
    --GRAY: lightgray;
    --COLOR1: #6B26A1;
    --COLOR2: #F2E1FF;
    --COLOR3: #FBF3FF;
    --COLOR4: #DAC5EA;
    --COLOR5: #9029E2;
    --COLOR6: #E9D0FC;
}